body,html{
    height: 100%;
    width: 100%;
    margin:0px;
    background: linear-gradient(aqua,blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100;
    background-color: rgba(0, 132, 255, 0.83);
    padding: 5px;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
}

footer{
    color: white;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    width: 100;
    padding: 10px;
    background-color: rgba(3, 0, 58, 0.659);
    text-align: center;
}
#calculator{
    width: 95vw;
    height: 80vh;
    max-width: 300px;
    max-height: 600px;
    background-color: rgb(157, 155, 155);
    border:5px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}
#display{
    height: 30%;
    width: 80%;
    background-color: rgb(128, 205, 50);
    border:black solid 4px;
    text-align: center;
    border-radius: 10px;
}
#screen{
    height: 95%;
    width: 95%;
}
#result{
    height: 25%;
    display: flex;
    justify-content: right;
    align-items: center;
}
#userNumbers{
    height: 75%;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 7vh;
}


#keyboard{
    width: 95%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
button{
    border:solid black 3px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(37, 35, 43);
    color:white;
}
button:hover{
    background-color: rgb(45, 41, 51);
}
button:active{
    background-color: rgb(59, 54, 67);
}
#c{
    background-color: rgb(235, 212, 42);
}
#c:hover{
    background-color: rgb(237, 218, 73);
}
#c:active{
    background-color: rgb(243, 216, 11);
}
#ac{
    background-color: rgb(248, 58, 58);
}
#ac:hover{
    background-color: rgb(247, 77, 77);
}
#ac:active{
    background-color: rgb(247, 32, 32);
}
#flip{
  background-color: rgb(51, 228, 27);
}
#flip:hover{
  background-color: rgb(42, 199, 21);
}
#flip:active{
    background-color: rgb(30, 255, 0);
}
#lr{
    background-color: rgb(92, 173, 248);
}
#lr:hover{
    background-color: rgb(73, 144, 209);
}
#lr:active{
    background-color: rgb(56, 127, 194);
}

.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 2000% 100%;
  
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

